<!--
  Generated template for the ContenidoPruebaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Listado de personas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-searchbar (ionInput)="buscarPersona($event)" placeholder="Buscar persona por nombre"></ion-searchbar>
    <ion-list inset>
      <button ion-item *ngFor="let item of personas" (click)="verMasInfo(item)" icon-start>
          <ion-label>{{ item.nombre }}
              <ion-icon small *ngIf=!validarRut(item.rut) name="alert" color="danger"></ion-icon>
              <ion-icon small *ngIf=!validarFechaNacimiento(item.fechaNacimiento) name="close" color="danger"></ion-icon>
          </ion-label>
        
       

      </button>
    </ion-list>
  </ion-content>
